/* BestCarousel */


.slick-slide {
  padding: 10px;
}
.slick-slider{
    height: 450px;
}

.Best-carousel{
    padding: 30px;
    

    
  
  }


  .Best-carousel{
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: 400;
    transition: 0.15s ease;
    overflow: hidden;

    
  }

  .Best-carousel:hover {
    box-shadow: inset 0 0 0 0px rgb(0 0 0 / 15%);
    content: "";
    top: -4px;
    position: relative;
  }



.carousel-image{
    height: 300px;
    border-radius: 0.25rem 0.25rem 0 0;
    overflow: hidden;
    
  }


.carousel-content{
    padding: 1rem;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-radius: 0 0 0.25rem 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.15s ease;
    background-color: #FFF;
    text-align: center;

  }





.carousel-title{
    padding: 3px;
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.carousel-author{
    font-size: 13px;
    padding: 3px;
    font-weight: 400;
    padding-left: 15px;
    text-align: left;

}




@media (min-width: 1801px) and (max-width: 2649px) {

.slick-slide {
    padding: 10px;

  }

  .slick-slider{
    height: 570px;
}

.carousel-image{
  height: 400px;
  width: 440px;
}

.carousel-content{
  width: 440px;

}




}